body{
    background-color: #EFF483;
}
img{
    width: 5%;
    height:5%;
}
header{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.signin_box{
    display: flex;
    flex-direction: column;
    margin: 10px auto 0 auto;
}
form{
    background-color: white;
    width: 26%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    line-height: 30px;
    border-color: blue;
    border-width: 10px;
    border-radius: 10px;
    min-width: 300px;
}

#need_account{
    text-align: center;
}

#forgot_password{
    margin-left: 21%;
}

#username, #password{
    width: 100%;
}
.submit{
    background: linear-gradient(180deg, rgb(0, 183, 255) 0%, rgb(62, 123, 255) 100%);
    width: 100%;
    border-color: rgb(22, 22, 255);
    border-radius: 5px;
    border-width: 1px;
    color: white;
    font-weight: 550;
}
#register{
    display: flex;
    flex-direction: column;
    line-height: 10px;
    
}
#register input{
    width: 100%;
    
}
#referral_radio{
    display: flex;
    flex-direction: column;
    font-size: small;
    line-height: 20px;
    align-items: center;
    width: 100%;
    
}
.referral_radio{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    margin-right: 45%;
}
.referral_radio label{
    display: inline-block;
    width: 100%;

    overflow: hidden;

    transform: translateX(-50px);
}
.referral_radio input{
    height: 12px;
    width: 12px;
}