@import "style.css";
/* Set background color and font family */
.card {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white; /* add white background */
  width: 300px; /* set fixed width */
  padding: 20px; /* add padding */
  text-align: center; /* center content */
}


.card-img-top {
  height: 200px; /* adjust height */
  object-fit: contain; /* change to contain */
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px; /* add margin */
}

.card-text {
  font-size: 1rem;
  margin-bottom: 20px; /* add margin */
}

.card-subtitle {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 20px; /* add margin */
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px; /* add border radius */
  padding: 10px 20px; /* add padding */
  font-size: 1rem; /* increase font size */
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* add styling for empty card rows */
.empty-cards {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  margin-bottom: 20px;
}

.empty-card {
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  margin-right: 10px;
}